<section class="blog-details mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-main">
                    <h1>What is MEAN Stack Web Development?</h1>
                    <div class="posted">
                        <p>The web application stack powered by MongoDB, Express, Angular, and Node.js leverages JavaScript from top to bottom</p>
                        <p> by <span>Sanoj C Sam</span></p>
                    </div>
                    <div class="details-img">
                        <img src="assets\images\mean 6.png" alt="blog1">
                    </div>

                    <div class="blog-describ">
                        <p>The term MEAN stack refers to a collection of JavaScript based technologies used to develop web applications. MEAN is an acronym for MongoDB, ExpressJS, AngularJS and Node.js. From client to server to database, MEAN is full stack JavaScript. This article explores the basics of the MEAN stack and shows how to create a simple bucket list application.</p>

                        <p>MEAN is a free and open-source JavaScript software stack for building dynamic web sites and web applications.</p>
                     <ul>
                        <li>MongoDB: A database server that is queried using JSON (JavaScript Object Notation) and that stores data structures in a binary JSON format</li>
                         <li>Express: A server-side JavaScript framework</li>
                         <li>Angular: A client-side JavaScript framework</li>
                         <li>Node.js: A JavaScript runtime</li>
                    </ul>

                    <p>A big part of MEAN’s appeal is the consistency that comes from the fact that it’s JavaScript through and through. Life is simpler for developers because every component of the application—from the objects in the database to the client-side code—is written in the same language. ></p>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>