
<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
          <h2 class="title-heading">Latest Articles</h2>
        <div class= "col-md-4">
          <div class="blog-box">
            <img src="assets\images\MEAN.png" alt="blog1">
            <h3>What is MEAN Stack?</h3>
            <p>by <span>sanoj c sam</span></p>
            <p>The MEAN stack is a JavaScript-based framework for developing web applications. MEAN is named after MongoDB, Express, Angular, and Node, 
                the four key technologies that make up the layers of the stack.</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets\images\ang vs rea.png" alt="blog1">
            <h3>Difference between Angular and ReactJS</h3>
            <p>by <span>sanoj c sam</span></p>
            <p>Angular developers prefer two-way data binding while React developers prefer unidirectional data flow. Read on to explore some 
                of the key differences between the two technologies and determine which one is right for your project...</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets\images\js and ts.png" alt="post1">
            <h3>Difference between JavaScript and TypeScript</h3>
            <p>by <span>sanoj c sam</span></p>
            <p>What is JavaScript? JavaScript is an object-based scripting language. JavaScript is the most popular programming language of HTML. 
                It helps you to create interactive web pages which is lightweight and cross-platform. JavaScript is not designed for..</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets\images\chatgpt.jpg" alt="post2">
            <h3>What is ChatGpt</h3>
            <p>by <span>sanoj c sam</span></p>
            <p>ChatGPT was launched as a prototype on November 30, 2022, and quickly garnered attention for its detailed responses 
                and articulate answers across many domains of knowledge.[</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets\images\images.png" alt="post3">
            <h3>what is nodejs and how to work it?</h3>
            <p>by <span>sanoj c sam</span></p>
            <p>Node. js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for 
                data-intensive real-time applications that run across distributed devices.</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets\images\mern.jpg" alt="post4">
            <h3>What is MERN Stack?</h3>
            <p>by <span>sanoj c sam</span></p>
            <p>In the world of software development, MERN Stack is one of the most widely used technological stacks and a web development framework. we can create simple as well complex web applications using MERN (MongoDB, ExpressJS, ReactJS, and NodeJS)...</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>